* {
  box-sizing: border-box;
}
#game-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 16.6666666667%;
  height: 6rem;
  border: 1px solid black;

  img {
    width: 100%;
    height: 100%;
  }

}


